// COLORS
$primary-color: #950e0e;
$secondary-color:#f7e700;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$black: rgb(15, 12, 12);

$dark-blue-text: #ff00008c; //  For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
